<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello template</title>

    <link rel="stylesheet" href="css/bulma.css">
</head>
<body>

    <section class="section">
        <div class="container" id="my-form">
            <form action="/action" method='post'>
                <div class="select">
                    <select name="choice">
                        <option value="one">one</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                        <option value="four">four</option>
                    </select>
                </div>

                <input class="input" type="text" name="firstname" placeholder="type your firstname">
                <input class="input" type="text" name="lastname" placeholder="type your lastname">

                <div class="control">
                    <input class="button is-link" type="submit" value="Submit">
                </div>
            </form>

        </div>

    </section>

</body>
</html>