<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout template</title>

    <link rel="stylesheet" href="css/bulma.css">
</head>
<body>
    <div class="container">
        <form action="/remove" method="post">
            <h2>Liste des ingrédients chef</h2>
            {{#each ingredients_list}}
                <div class="menu-item">{{this}}<button class="button is-danger is-small" style="margin: 4px;" type="submit" name="id" value="{{@index}}">X</button></div>
            {{/each}}
        </form>
        <form action="/ajout" method="post">
            <select class="select" name="ingredient">
                {{#each ingredients_dispo_list }}
                    <option value = "{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>