<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP MVC</title>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/bulma.css">
</head>
<body>
<h1 class="title has-text-centered">TP MVC</h1>

<section class="section">
    <div class="container" id="my-form">

        <div class="select">
            <select v-model="selectedIngredient">
                <option v-for="ingredient in ingredients" v-bind:value="ingredient">{{ingredient}}</option>
            </select>
        </div>

        <div class="control">
            <button style="margin-top: 10px" @click="send" class="button is-link">Ajouter</button>
        </div>
        <h1 class="title has-text-centered">{{message}}</h1>

        <ul>
            <li v-for="(ingredient, index) in currentIngredients">{{ingredient}}
                <button v-bind:value="index" class="button is-danger is-small" @click="remove(index)">X</button>
            </li>
        </ul>
        <hr>
    </div>
</section>


<script>
    new Vue({
        el: "#my-form",
        created: function () {
            var that = this
            axios.get('/ingredients').then(function (response) {
                that.ingredients = response.data;
            });
        },
        data: {
            ingredients: [],
            selectedIngredient: [],
            currentIngredients: [],
            message: ""
        },
        methods: {
            send: function () {
                var that = this
                axios.post('/ajout', {
                    selectedIngredient: that.selectedIngredient
                })
                .then(function () {
                    axios.get('/contenuKebab').then(function (response) {
                        that.currentIngredients = response.data;
                    })
                })
                .catch(function (error) {
                    that.message = "Erreur"
                });
            },
            remove: function (index) {
                var that = this
                axios.post('/delete', {
                    id: index
                }).then(function () {
                    axios.get('/contenuKebab').then(function (response) {
                        that.currentIngredients = response.data;
                    })
                })
            }
        }
    })
</script>
</body>
</html>